<div *appRoleBasedAccess="'Admin'">
    <button>Edit User Settings</button>
    <button>Manage Content</button>
</div>

<div *appRoleBasedAccess="'Editor'">
    <button>Edit Post</button>
    <button>Moderate Comments</button>
</div>

<div *ngFor="let post of userPosts" class="post">
    <h2>{{post.user}}</h2>
    <p>{{post.content}}</p>
    
    <div class="actions">
        <button (click)="likePost(post.id)">
            {{likedPosts.has(post.id) ? 'Unlike' : 'Like'}}
        </button>
        <span *ngIf="likedPosts.has(post.id)">You liked this post!</span>
    </div>

    <div class="comments">
        <ul>
            <li *ngFor="let comment of post.comments">{{comment}}</li>
        </ul>
        <input [(ngModel)]="newComment" placeholder="Add a comment"/>
        <button (click)="addComment(post.id)">Comment</button>
    </div>
</div>
